@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: Inter, sans-serif;
  --font-heading: Neuton, serif;
  --color-primary: #2563EB;
}

@layer base {
  body {
    font-family: var(--font-body);
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

@utility font-body {
  font-family: var(--font-body);
}

@utility font-heading {
  font-family: var(--font-heading);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.link:hover {
    color: var(--color-primary);
}