@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-body: Inter, sans-serif;
  --font-heading: Neuton, serif;
}

@layer base {
  body {
    font-family: var(--font-body);
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

header .top-strip { 
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);

}

.bg-org{
    background-color: #ff6f61;
}

.link {

}